# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
Coric-ARM-Deployment-Refactored/coricAzureParameters1.json
Coric-ARM-Deployment-Refactored/coricAzureParameters2.json
Coric-ARM-Deployment/ARM Template Deployment.ps1
Coric-ARM-Deployment/coricAzureParameters.json
Coric-ARM-Deployment/nested/nsgSubnetBackend.json
Coric-ARM-Deployment-Refactored/coricAzureParameters3.json
Coric-ARM-Deployment-Refactored/RBCTest-coricAzureParameters3.json
Coric-ARM-Deployment-Refactored/RBCTest-coricAzureParameters2.json
Coric-ARM-Deployment-Refactored/RBCTest-coricAzureParameters1.json
Coric-ARM-Deployment-Refactored/CheckPoint.json
Coric-ARM-Deployment-Refactored/coricAzureParameters4.json
